.login {
  display: flex;
  width: 40vw;
  margin: 0 auto;
  height: 100vh;
}

.image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 200px;
  padding: 20px;

  h1 {
    color: gray;
    margin-bottom: 20px;
  }

  label {
    color: gray;
    font-size: 18px;
  }

  input,
  textarea {
    width: 70%;
    padding: 20px;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 5px;
  }

  button {
    margin-top: 20px;
    border: none;
    padding: 10px 30px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: #1dbf73;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    color: red;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .login {
    width: 100vw;
    height: 83vh;
  }
}
