.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 55px;
    color: rgb(200, 200, 200);
    font-weight: 700;

    img {
      height: 60px;
      object-fit: contain;
    }
  }
}
