.home {
  .Slides-container {
    width: 1400px;
    position: relative;
    margin: 96px auto;
    h2 {
      color: #404145;
      font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      text-align: start;
      font-size: 32px;
      line-height: 120%;
    }
  }

  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    &.dark {
      background-color: #0d084d;

      h2 {
        color: white !important;
      }

      i {
        font-weight: 300;
      }

      p {
        margin-bottom: 20px;
        color: white !important;
      }

      .fiverr-title {
        width: 89px;
        height: 27px;
      }

      span {
        font-size: 24px;
        font-weight: 300;
        color: white !important;
      }

      ul {
        width: 550px;
        list-style: none;
        font-size: 16px;
        text-align: left;

        li {
          display: flex;
          gap: 15px;
          align-items: center;
          margin-bottom: 15px;

          b {
            color: white !important;
          }

          .features-content {
            color: white !important;
            font-size: 18px !important;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            align-items: flex-start !important;
            text-align: left !important;
          }

          svg {
            color: white !important;
          }
        }
      }

      button {
        box-sizing: border-box;
        background-color: #fff;
        border: none;
        color: #62646a;
        padding: 12px 24px;
        border-radius: 4px;
        width: max-content;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;
        transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);

        &:hover {
          color: #404145;
        }
      }
    }

    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;
      color: #404145;
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
        }

        img {
          width: 100%;
        }
        h2 {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 10px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        h6 {
          font-size: 18px;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: #666;
          svg {
            width: 24px;
            height: 24px;
            opacity: 0.5;
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: #62646a;
          line-height: 28px;
          letter-spacing: 1px;
        }

        video,
        picture {
          width: 720px;
        }

        picture {
          position: relative;
          .play-btn {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: black;
            opacity: 0.6;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 40%;
            left: 45%;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .explore {
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container {
      width: 1400px;

      h1 {
        color: #404145;
        margin-bottom: 30px;
        font-weight: 700;
      }

      .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 250px;
          height: 150px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;

          img {
            width: 50px;
            height: 50px;
          }

          .line {
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all 0.3s ease;
          }

          span {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 16px;
          }

          &:hover {
            .line {
              width: 80px;
              background-color: #1dbf73;
            }
          }
        }
      }
    }
  }
}
