.Slides-container {
  width: 1400px;
  position: relative;
  margin: 96px auto;
  h2 {
    color: #404145;
    font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: start;
    font-size: 32px;
    line-height: 120%;
  }
}
